*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f4f8f2;
color:#333;
line-height:1.7;
}

.hero{
background:#0b6b3a;
color:white;
padding:50px 20px;
text-align:center;
}

.hero h1{
font-size:2rem;
margin-bottom:15px;
}

.hero p{
max-width:700px;
margin:auto;
margin-bottom:25px;
}

#searchInput{
width:100%;
max-width:500px;
padding:14px;
border:none;
border-radius:8px;
font-size:16px;
}

.daftar{
background:white;
padding:25px;
margin:20px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.daftar h2{
margin-bottom:15px;
color:#0b6b3a;
}

.daftar ul{
list-style:none;
}

.daftar li{
margin:10px 0;
}

.daftar a{
text-decoration:none;
color:#0b6b3a;
font-weight:bold;
}

.card{
background:white;
margin:20px;
padding:20px;
border-radius:15px;
box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.card img{
width:100%;
border-radius:12px;
margin-bottom:15px;
}

.card h2{
color:#0b6b3a;
margin-bottom:10px;
}

.card p{
margin-bottom:15px;
}

.btn{
display:inline-block;
background:#0b6b3a;
color:white;
padding:12px 18px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.btn:hover{
background:#0d8248;
}

footer{
margin-top:40px;
padding:25px;
background:#0b6b3a;
color:white;
text-align:center;
}

@media(max-width:768px){

.hero h1{
font-size:28px;
}

.card{
margin:15px;
}

.daftar{
margin:15px;
}

}
